$dark: #1b1c21;
$dark-hover: #2f3036;
$light: #bbbcc2;
$action: #3c79c0;

.layout {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;

  .search-bar {
    display: flex;
    height: 60px;
    background-color: $dark;
    border: 1px solid $light;
    border-radius: 8px;
    margin: 8px 16px;
    box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);

    input {
      padding: 0 0 0 16px;
      border: 0;
      width: 80%;
      height: 100%;
      background-color: transparent;
      font-size: 18px;
      color: $light;
    }

    input:focus {
      outline: 0;
    }

    .buttons-container {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 4px;

      .button {
        background-color: transparent;
        color: $light;
        border: 0;
      }
      .button:focus {
        outline: 0;
        color: $action;
      }
      .button:hover {
        color: $action;
        cursor: pointer;
      }
    }
  }

  .results {
    max-height: 80vh;
    box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
    margin: 8px 16px;
    opacity: 0.8;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    background-color: $dark;
    border: 1px solid $light;
    border-radius: 8px;
    overflow: auto;

    .item {
      padding: 8px;
      color: $light;
      cursor: pointer;
      display: flex;

      .image {
        width: 100px;
        height: 100px;

        img {
          max-height: 100px;
          max-width: 100px;
          border-radius: 3px;
        }
      }
      .content {
        width: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font-size: 16px;
          font-weight: 500;
          padding: 16px 0;
        }

        .category {
          font-size: 13px;
          border: 1px solid $light;
          border-radius: 3px;
          width:fit-content; 
          padding: 4px 8px;
        }
      }
    }

    .item:hover {
      background-color: $dark-hover;
    }
  }
}
